.journey {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.journey .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    background-color: #2f4eb4;
}

.journey .content {
    flex-grow: 1;
}

.journey .icon {
    flex: 0 0 auto;
}

.journey .header-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.journey .states {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.journey .date {
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
}

.journey button {
    background-color: #2f4eb4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.journey button:hover {
    background-color: #1e3c8f;
}
