.home .header {
    background-color: #2f4eb4;
    height: 40px;
}
.home .content {
    padding: 16px;
}
.home .content .selection {
    position: relative;
}
.home .content .selection .select {
    background-color: #fff;
    margin-top: 3px;
    padding: 8px;
    border-radius: 2px;
}
.home .content .selection .select .auto-complete-wrapper {
    display: flex;
    align-items: center;
}
.home .content .selection .select .auto-complete-wrapper .mapIcon {
    color: #5d686e;
    opacity: 0.5;
}
.home .content .selection .select .ant-select-selector {
    padding: 0 8px;
    border: none;
    border-color: transparent !important;
    box-shadow: none !important;
}
.home .content .selection .select .ant-select-selection-search-input {
    margin-left: -3px;
}
.home .content .selection .select .select-title {
    padding-left: 24px;
    color: #2f4eb4;
    font-weight: 600;
}
.home .content .selection .swap {
    position: absolute;
    transform: translate(-50%, -50%);
    /* left: 90%; */
    right: 0;
    border-radius: 50%;
}
.home .datepicker {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 20px;
    padding: 8px;
    border-radius: 2px;
}
.home .datepicker .date .date-title {
    padding-left: 24px;
    color: #2f4eb4;
    font-weight: 600;
}
.home .datepicker .ant-picker {
    width: 100%;
    padding: 4px 0;
    border-color: transparent;
}
.home .datepicker .ant-picker:hover {
    border-color: transparent;
    box-shadow: none;
}
.home .datepicker .ant-picker-input {
    flex-direction: row-reverse;
}
.home .datepicker .ant-picker-input span {
    margin-inline-end: 2px;
}
.home .buttons {
    display: flex;
    flex-direction: column;
}
.home .buttons button {
    height: 24px;
    font-size: 12px;
    margin: 4px;
}
.home .buttons .active-button,
.home .buttons button:hover {
    background-color: #5d686e !important;
    color: #fff !important;
}
.home .action {
    text-align: center;
}
.home .action button {
    background-color: #2f4eb4;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    height: 41px;
    width: 75%;
    margin-top: 21px;
}
.home .footer {
    background-color: #fff;
    text-align: left;
    padding: 0 20px 0 29px;
    position: fixed;
    bottom: 0;
    color: #5d686e;
    font-size: 12px;
}
